@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*font-family: "Roboto", sans-serif;*/
}

svg {
    display: inline-block;
}

.app {
}

.app-bar {
    @apply bg-white border-b border-gray-200 h-14 px-4 flex justify-between items-center;
}

.app-title {
    @apply font-semibold text-xl text-gray-800 leading-tight;
}

.form-field {
    @apply block mb-2;
}

.form-label {
    @apply block text-sm font-medium text-gray-700 mb-1;
}

.form-input {
    @apply w-full border border-gray-200 rounded-sm px-3 py-2 text-sm leading-5 shadow-sm
    focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
}

.btn {
    @apply bg-white border border-gray-200 rounded-sm px-3 py-2 font-semibold text-sm text-gray-700 leading-5 inline-flex justify-center items-center gap-2 whitespace-nowrap shadow-sm transition-all
    hover:bg-gray-50
    active:outline-none active:ring-2 active:ring-blue-600 active:ring-offset-2;
}

.btn--active {
    @apply border-blue-600;
}

.btn--small {
    @apply px-2 py-1;
}

.btn--primary {
    @apply text-white border-indigo-600 bg-indigo-600
    hover:bg-indigo-700
    focus:outline-none focus:ring-2 focus:ring-blue-200;
}

table {
    @apply w-full whitespace-nowrap;
}

table th {
    @apply bg-gray-200 text-left font-medium py-2 px-4 border-b border-slate-100;
}

table td {
    @apply border-b border-slate-100 py-2 px-4 text-slate-500;
}

table tbody tr {
    @apply hover:bg-gray-50 focus-within:bg-gray-100;
}

table tbody td {
    @apply border-t;
}

table .actions {
    width: 100px;
}
